# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# 虚拟环境
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# 数据文件（太大不应该放在 Git 里）
data/*.csv
data/*.hdf5
*.dat

# IDE
.vscode/
.idea/

# 系统文件
.DS_Store
Thumbs.db

# 敏感信息
.env
*.key
